@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);

body {
  background: #f5f5f5;
}
body {
  color: #777;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.65em;
  letter-spacing: -0.015em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #646464;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}

.description china {
  color: rgb(66, 72, 245);
}

.description india {
  color: rgb(181, 29, 18);
}

.description usa {
  color: rgb(43, 135, 31);
}

.description indo {
  color: rgb(255,165,0);
}

.description pakis {
  color: rgb(0, 189, 189);
}

.description asia {
  color: #BEAED4;
}

.description oceania {
  color: #F0027F;
}


.container {
  margin: 0 auto;
  max-width: calc(100% - 5em);
  width: 60em;
}

.box {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  margin: 0 0 2em 0;
  padding: 3em;
}

#main > .box h3 {
  font-size: 25pt;
  color: #1f4d9c;
  padding-bottom: 20px;
}


#main {
  padding: 4em 0;
}
#main > header {
  text-align: center;
  margin: 0 0 3em 0;
}

#main > header p {
  border-top: solid 2px #e5e5e5;
  color: #777;
  font-style: normal;
  margin: 1em 0 0 0;
  padding: 1em 0 1.25em 0;
  font-size: 20pt;
}

#main > header h2 {
  font-size: 40pt;
  color: #1f4d9c;
}

#footer {
  text-align: center;
}

.vis-container {
  width: 100%;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}